[submodule "eureka"]
	path = eureka
	url = https://github.com/nelluripujitha/eureka_service.git
[submodule "foodcatalogue"]
	path = foodcatalogue
	url = https://github.com/nelluripujitha/Food_Catalogue_Service.git
[submodule "restaurantlisting"]
	path = restaurantlisting
	url = https://github.com/nelluripujitha/Restaurant_Listing_service.git
[submodule "userinfo"]
	path = userinfo
	url = https://github.com/nelluripujitha/User_Info_Service.git
[submodule "order"]
	path = order
	url = https://github.com/nelluripujitha/Order_Service.git
[submodule "Order"]
	path = Order
	url = https://github.com/nelluripujitha/Order_Service.git
